<ol class="entityList">
    <li>
        <ul class="actions">
            <li class="remove-item">
                <form action="/admin/updates/45" class="item-action" method="post">
                    <input type="hidden" name="id" value="45" />
                </form>
            </li>
        </ul>
    </li>
</ol>