<ul class="pagination">
    <li class="outOfRange"><a class="prev" href="/{{>controller}}/?offset={{>prevOffset}}">back</a></li>
    <li class="pipeDivider outOfRange"> | </li>
    <li><a class="more" href="/{{>controller}}/?offset={{>nextOffset}}">more</a></li>
</ul>