{{for updates ~actions=list.actions}}
<li class="entityBlock {{>type}}">
    <ul class="actions">
        {{for ~actions}}
        <li class="{{>~toLower(text)}}-item"></li>
        {{/for}}
    </ul>
</li>
{{/for}}